
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>商品设置</h1>
<table class="table table-bordered">
    <tr>
        <td>
            商品编号
        </td>
        <td>
            商品名称
        </td>
        <td>
            商品数量
        </td>
        <td>
            库存设置
        </td>

    </tr>
    <tbody id="tb">
    </tbody>
</table>
    

<div style="margin-left: 545px; ">
    <input id="Hidden1" value="1" type="hidden" /><input id="Hidden2" value="" type="hidden" />
    <input class="" id="bu1" type="button" value="上一页" onclick="fist()" />
    <input style="margin-left:281px" id="bu1" class="" type="button" value="下一页" onclick="next()" />
    <select style="margin-left: 339px; " id="yema" onclick="Show()">
        <option value="3">3</option>
        <option value="10">10</option>
        <option value="100">100</option>
        <option value="2000">2000</option>

    </select>
    <script>
        function next() {
            var i = $("#Hidden1").val();//页码
            var j = $("#yema").val();//页数
            var count = $("#Hidden2").val();//总数据
            var lin = Number(Math.ceil(count / j));

            if (i < lin) {
                $("#Hidden1").val(Number(Number($("#Hidden1").val()) + 1));
            }

            Show();

        }
        function fist() {
            if ($("#Hidden1").val() == "1") {
                $("#Hidden1").val(1);
            }
            else {
                $("#Hidden1").val(Number(Number($("#Hidden1").val()) - 1));
            }
            Show();

        }
    </script>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    设置商品
                </h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>商品上限</td>
                        <td><input type="text" id="T1" /></td>
                    </tr>
                    <tr>
                        <td>商品下限</td>
                        <td><input type="text"id="T2" /></td>
                    </tr>
                    <tr>
                        <td>商品库存警告</td>
                        <td><input type="text"id="T3" /></td>
                    </tr>
                    <tr>
                        <td>货架区</td>
                        <td><input type="text"id="T4" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="Gengai()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>



    $(function () {

        Show();

    })

    function Gengai() {
        var t1 = $("T1").val();
        var t2 = $("T2").val();
        var t3 = $("T3").val();
        var t4 = $("T4").val();
        if (t1 == "" || t2 == "" || t3 == "" || t4 == "") {
            alert('不能为空！')
            return;
        }    
        else {
            alert('保存成功！')
        }

    }
    function Show() {
        $.ajax({
            url: 'http://localhost:3687/api/goods1',
            type: "get",
            dataType: "json",
            data: {
                page: $("#Hidden1").val(),
                size: $("#yema").val(),
            },
            success: function (d) {
                $("#Hidden2").val(d.count);
                $("#tb").empty();
                $(d.golist).each(function () {

                    var ttt = '<tr>' +
                        + '<td>' + this.conding + '</td>'
                        + '<td>' + this.inventorySettings + '</td>'
                        + '<td>' + this.gname + '</td>'
                        + '<td>' + this.level + '</td>'
                        + '<td><input id="Button1"  class="btn btn-primary btn-lg" type="button" value="删除" onclick="shan(' + this.goodsId + ')" /><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">设置商品</button> </td> '
                        + '</tr>'
                    $("#tb").append(ttt);

                })

            }

        })
    }


    function shan(id) {
        if (confirm("你确定删除吗？")) {
            $.ajax({
                url: 'http://localhost:3687/api/Del?ids=' + id,
                dataType: "json",
                type: "get",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }

    }

</script>


