
@{
    ViewData["Title"] = "Ruku";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div id="qwe">
    <input type="hidden" value="@ViewBag.Is" id="hidden" />
    <h6>采购入库</h6>
    <hr />
    <div id="aa">
        <span>入库单号：</span>&nbsp;<span id="a1">131313213214324123</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>采购单号：</span>&nbsp;<span id="a2">1313131131231312</span><br /><br />
        <span>供应商：</span>&nbsp;<span id="a3">1313131131231312</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>到货日期：</span>&nbsp;<span id="a4">1313131131231312</span>
    </div>
   
    
    <table class="table table-bordered">
        <tr>
            <th>序号</th>
       
            <th>产品编码</th>
            <th>产品名称</th>
            <th>产品规格</th>
            <th>计量单位</th>
            <th>待入库量</th>
            <th>收货库区</th>
            <th>生产日期</th>
            <th>操作</th>
        </tr>
        <tbody id="bbb">

        </tbody>

    </table>
    <div>
        <input id="Button1" type="button" value="提交入库" class="btn btn-info" onclick="tijiao()" />
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    Hand();
    Hander();
   
    function Hand() {
        $.ajax({
            url: "http://localhost:3687/api/GetGodownId?id="+$("#hidden").val(),
            type: "get",
            dataType: "json",
            success: function (res) {
                $.each(res,function (index,item) {
                    $("#a1").html(item.godownTodoNum);
                    $("#a2").html(item.purchaseNum);
                    $("#a3").html(item.supplierName);
                    $("#a4").html(item.purchaseTime);
                })
            }
        })
    }
    function Hander() {
        $.ajax({
            url: "http://localhost:3687/api/GetGodownId?id=" + $("#hidden").val(),
            type: "get",
            dataType: "json",
            success: function (res) {
                $.each(res, function (index, item) {
                    var cc = '<tr>' +
                        '<td>' + item.ex_GoodsTWOId + '</td>' +
                       
                        '<td>' + item.coding + '</td>' +
                        '<td>' + item.gWname + '</td>' +
                        '<td>' + item.specification + '</td>' +
                        '<td>' + item.twOsum + '</td>' +
                        '<td>' + item.twOsum + '</td>' +
                        '<td><select id="Select1"><option value="">--请选择--</option></select ></td>' +
                        '<td><input type="date"  value=""></td>' +
                        '<td><a link="#">删除</a></td>' +
                        '</tr>'
                    $("#bbb").append(cc);
                    inputse();
                })
            }
        })
    }
    function inputse() {
        $.ajax({
            url: "http://localhost:3687/api/GetEX_Warehouse" ,
            type: "get",
            dataType: "json",
            success: function (res) {
                $.each(res, function (index, item) {
                    var aabb = '<option value="' + item.warehouseId + '">' + item.wname + '</option>'
                    $("#Select1").append(aabb);
                })
            }
        })
    }
    function tijiao() {
        var z1 = parseInt($("#hidden").val());
        var z2 = parseInt($("#Select1").val());
        var obj = {

            GodownTodoId: z1,
           
            GodownWarehouse: z2
        }
        var aa = JSON.stringify(obj);
        console.log(obj);

        $.ajax({
            url: "http://localhost:3687/api/UptGodown",
            type: "post",
            dataType: "json",
            data: aa,
            contentType: "application/json",
            success: function (res) {
                if (res == true) {
                    alert("提交成功！");
                    window.location.href="/Purchase/Todo"
                }
                
            }
        })
    }
</script>


