
@{
    ViewData["Title"] = "Todo";
    Layout = null;
}



<link href="~/js/ElementUI/element-ui.css" rel="stylesheet" />
<div id="bb">
    <span>入库单号：</span><el-input v-model="aaa" placeholder="请输入" style="width:200px"></el-input>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <span>采购单号：</span><el-input v-model="bbb" placeholder="请输入" style="width:200px"></el-input>&nbsp;&emsp;&emsp;
    <span>供货商：</span><el-input v-model="ccc" placeholder="请输入" style="width:200px"></el-input><br />
    <span class="demonstration">采购日期</span>
    <el-date-picker v-model="value1"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
    </el-date-picker>
    <span>入库状态：</span>
    <el-select v-model="value" v-on:change="selectChange1" placeholder="请选择">
        <el-option v-for="item in options"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
        </el-option>
    </el-select>

    <el-button type="primary" v-on:click="Show()" icon="el-icon-search">搜索</el-button>


    <template>
        <el-table :data="tableData"
                  style="width: 100%">
            <el-table-column prop="godownTodoId"
                             label="序号"
                             width="180">
            </el-table-column>
            <el-table-column prop="godownTodoNum"
                             label="入库单号"
                             width="210">
            </el-table-column>
            <el-table-column prop="purchaseNum"
                             label="采购单号"
                             width="210">
            </el-table-column>
            <el-table-column prop="supplierName"
                             label="供货商名称"
                             width="190">
            </el-table-column>
            <el-table-column prop="purchaseTime"
                             label="采购日期"
                             width="180">
            </el-table-column>
            <el-table-column prop="purchaseName"
                             label="采购人"
                             width="180">
            </el-table-column>

            <el-table-column label="入库状态"
                             width="180">
                <template slot-scope="scope">
                    <p v-if="scope.row.godownTodoState==0">未入库</p>
                    <p v-if="scope.row.godownTodoState==1">部分入库</p>
                    <p v-if="scope.row.godownTodoState==2">已入库</p>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <span v-if="scope.row.godownTodoState==0">
                        <el-button v-on:click="Ruku(scope.row)" size="mini" type="primary">入库</el-button>
                    </span>
                    <span v-if="scope.row.godownTodoState==1">
                        <el-button v-on:click="" size="mini" type="primary">部分入库</el-button>
                    </span>
                    <span v-if="scope.row.godownTodoState==2">
                        <el-button v-on:click="" size="mini" type="primary">已入库</el-button>
                    </span>
                    <el-button v-on:click="Xiangqing(scope.row)" size="mini" type="primary">详情</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="pageIndex"
                       :page-sizes="[3, 10, 15, 20]"
                       :page-size="100"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalCount">
        </el-pagination>

    </template>


</div>
<script src="~/js/vue.min.js"></script>
<script src="~/js/axios.min.js"></script>
<script src="~/js/ElementUI/element-ui.js"></script>
<script>
    var Vue = new Vue({
        el: "#bb",
        data: {
            options: [{
                value: '0',
                label: '未入库'
                },
                {
                value: '1',
                label: '部分入库'
                },
                {
                    value: '2',
                    label: '已入库'
                }],
            value: '',
            tableData: '',
            aaa: '',
            bbb: '',
            ccc:'',
            value1: '',
            piles: '',
            goods: '',
            a:'',
            rukuid:'',
            pageIndex: 1,
            pageSize: 3,
            totalCount: 11,
        },
        methods: {
            Show() {
                var _this = this
                axios
                    .get('http://localhost:3687/api/GetGodown?' + 'pageIndex=' + this.pageIndex + '&pageSize=' + this.pageSize + '&aaa=' + this.aaa + '&bbb=' + this.bbb + '&ccc' + this.ccc + '&times=' + this.value1+'&ddd='+this.a)
                    .then(response => { this.tableData = response.data.purchase_list, this.totalCount = response.data.totalCount })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            //初始页pageIndex、初始每页数据pageSize和数据data
            handleSizeChange: function (size) {
                this.pageSize = size;
                console.log(this.pageSize)//每页下拉
                this.Show(this.pageSize);
            },
            handleCurrentChange: function (pageIndex) {
                this.pageIndex = pageIndex;
                console.log(this.pageIndex);
                this.Show(this.pageIndex);
            },

            
            selectChange1(state) {
                obj = this.options.find((item) => {
                    return item.state == state;
                });
                console.log(state);
                this.a = state;
            },
           
        

            Add() {
                    this.addFormVisible = true
            },
            Ruku(row) {
                this.rukuid = row.godownTodoId,
                window.location.href = "/Purchase/Ruku?ids="+this.rukuid;
            },
            Xiangqing(row) {
                this.rukuid = row.godownTodoId,
                    window.location.href = "/Purchase/Xiangqing?ids=" + this.rukuid;
            }
           
            

        },
        mounted() {
            this.Show(this.pageIndex);
            this.getPiles();
                this.getGoods()
        }
    })
</script>




