
@{
    ViewData["Title"] = "DBRuKuShow";
    Layout = null;
}
<h6>调拨入库</h6>
<link href="~/js/ElementUI/element-ui.css" rel="stylesheet" />
<div id="bb">
    <span class="de"></span>
    <el-form-item label="调出仓库">
        <el-select v-model="outregion" placeholder="请选择仓库">
            <el-option label="仓库一" value="shanghai"></el-option>
            <el-option label="仓库二" value="beijing"></el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="调入仓库">
        <el-select v-model="inregion" placeholder="全部">
            <el-option label="仓库一" value="shanghai"></el-option>
            <el-option label="仓库二" value="beijing"></el-option>
        </el-select>
    </el-form-item>
    <span>商品名称：</span><el-input v-model="aaa" placeholder="请输入" style="width:200px"></el-input>
    <span>商品编码：</span><el-input v-model="bbb" placeholder="请输入" style="width:200px"></el-input>
    <el-form-item label="审批状态">
        <el-select v-model="State" placeholder="全部">
            <el-option label="状态一" value="shanghai"></el-option>
            <el-option label="状态二" value="beijing"></el-option>
        </el-select>
    </el-form-item>
    <span class="demonstration">调拨日期</span>
    <el-date-picker v-model="value1"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
    </el-date-picker>
    <span>调拨单号：</span><el-input v-model="ccc" placeholder="请输入" style="width:200px"></el-input>
    <el-button type="primary" v-on:click="Show()" icon="el-icon-search">搜索</el-button>
    <template>
        <el-table :data="tableData"
                  style="width: 100%">
            <el-table-column prop="bId"
                             label="行号"
                             width="180">
            </el-table-column>
            <el-table-column prop="bEntry"
                             label="调拨入库单号"
                             width="180">
            </el-table-column>
            <el-table-column prop="bts"
                             label="TS调出单号"
                             width="180">
            </el-table-column>
            <el-table-column prop="bWarehouse"
                             label="调出仓库"
                             width="180">
            </el-table-column>
            <el-table-column prop="bFold"
                             label="调入仓库"
                             width="180">
            </el-table-column>
            <el-table-column prop="bSend"
                             label="发送日期"
                             width="190">
            </el-table-column>
            <el-table-column prop="bEnter"
                             label="入库日期"
                             width="180">
            </el-table-column>
            <el-table-column prop="bWarm"
                             label="温区"
                             width="180">
                <template slot-scope="scope">
                    <p v-if="scope.row.bWarm==3">冷冻</p>
                    <p v-if="scope.row.bWarm==1">冷藏</p>
                    <p v-if="scope.row.bWarm==2">常温</p>
                </template>
            </el-table-column>
            <el-table-column prop="bSum"
                             label="商品总数"
                             width="180">
            </el-table-column>
            <el-table-column prop="bPerson"
                             label="调拨人"
                             width="180">
                <template slot-scope="scope">
                    <p v-if="scope.row.bPerson==3">张三</p>
                    <p v-if="scope.row.bPerson==1">李四</p>
                    <p v-if="scope.row.bPerson==2">王五</p>
                </template>
            </el-table-column>
            <el-table-column prop="bConsignee"
                             label="收货人"
                             width="180">
            </el-table-column>
        </el-table>
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="pageIndex"
                       :page-sizes="[3, 10, 15, 20]"
                       :page-size="100"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalCount">
        </el-pagination>
    </template>
</div>
<script src="~/js/vue.min.js"></script>
<script src="~/js/axios.min.js"></script>
<script src="~/js/ElementUI/element-ui.js"></script>
<script>
    var Vue = new Vue({
        el: "#bb",
        data: {
            tableData: '',
            tableData2: '',
            addFormVisible: false,
            XiangFormVisible: false,
            outregion: '',
            inregion: '',
            State: '',
            aaa: '',
            bbb: '',
            ccc: '',
            value1: '',
            region: '',
            XId: '',
            pageIndex: 1,
            pageSize: 3,
            totalCount: 11,
        },
        methods: {
            Show() {
                var _this = this
                axios
                    .get('http://localhost:3687/api/BStorageShow?pageIndex=' + this.pageIndex + '&pageSize=' + this.pageSize)
                    .then(response => { this.tableData = response.data.bstorage_list, this.totalCount = response.data.totalCount })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            //初始页pageIndex、初始每页数据pageSize和数据data
            handleSizeChange: function (size) {
                this.pageSize = size;
                console.log(this.pageSize)//每页下拉
                this.Show(this.pageSize);
            },
            handleCurrentChange: function (pageIndex) {
                this.pageIndex = pageIndex;
                console.log(this.pageIndex);
                this.Show(this.pageIndex);
            },
        },
        mounted() {
            this.Show(this.pageIndex);
        }
    })
</script>

