
@{
    ViewData["Title"] = "CeshiAdd";
}

<h1>CeshiAdd</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<input type="button" id="iee" value="获取" onclick="studInfo()" />
<table id="studentList">
    <tr>
        <th>
            商品名称
        </th>
        <th>
            商品名称
        </th>
        <th>
            商品名称
        </th>
    </tr>
    <tr>
        <td>
            <input id="box" name="box" type="checkbox" />
        </td>
        <td>
            张超伟
        </td>
        <td>
            男
        </td>
        <td>
            <input type="text" name="bos" />
        </td>
    </tr>
    <tr>
        <td>
            <input id="box" name="box" type="checkbox" />
        </td>
        <td>
            谢霆锋
        </td>
        <td>
            男
        </td>
        <td>
            <input type="text" name="bos" />
        </td>
    </tr>
</table>
<script>




    function studInfo() {
        var rows = document.getElementById("studentList").rows;//获取table行数
        var a = document.getElementsByName("box");//复选框name
        var b = document.getElementsByName("bos");//文本框name
        var arry = [];
        var obj = {}
        var studentList = new Array();
        for (var i = 0; i < a.length; i++) {
            if (a[i].checked) {
                var row = a[i].parentElement.parentElement.rowIndex;//被选中行

                var id = a[i].value;//复选框值
                var name = rows[row].cells[1].innerHTML;//table列表i行第一列值
                var age = rows[row].cells[2].innerHTML;
                //var brith = rows[row].cells[3].innerHTML;
                var sum = b[i].value;
                var student = {};

                //student.id = id;
                student.name = name;
                student.age = age;
                //student.brith = brith/*
                student.sum = sum
                studentList.push(student);

            }
        }
       
        $.ajax({
            url: 'http://localhost:3687/api/Ceshi',
            type: "post",
            contentType: "application/json",
            dataType: "json",
            //data:  JSON.stringify(studentList) ,
            data: JSON.stringify(studentList),
            success: function (d) {
                if (d > 0) {
                    alert('成功')
                }
            }
        })
    }

</script>