@{

    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>

    <link href="~/static/admin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/static/admin/css/admin.css" rel="stylesheet" />
    <link href="~/js/ElementUI/element-ui.css" rel="stylesheet" />
    <script src="~/js/ElementUI/element-ui.js"></script>

</head>
<body>
    <div class="main-layout" id='main-layout'>
        <!--侧边栏-->
        <div class="main-layout-side">
            <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">

                <li class="layui-nav-item">
                    <a href="javascript:;">到货管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/Ad/Index" data-id='1' data-text="到货登记"><span class="l-line"></span>到货登记</a></dd>
                        <dd><a href="javascript:;" data-url="/Ad/Index2" data-id='2' data-text="快捷到货"><span class="l-line"></span>快捷到货</a></dd>
                        <dd><a href="javascript:;" data-url="/Ad/Index1" data-id='3' data-text="到货记录"><span class="l-line"></span>到货记录</a></dd>
                    </dl>

                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">入库业务</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/Purchase/Show" data-id='32' data-text="采购入库"><span class="l-line"></span>采购入库</a></dd>
                        <dd><a href="javascript:;" data-url="/Reg/Add" data-id='4' data-text="入库明细"><span class="l-line"></span>入库明细</a></dd>
                        <dd><a href="javascript:;" data-url="/Reg/Index" data-id='5' data-text="入库任务单"><span class="l-line"></span>入库任务单</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">出库管理</a>
                    <dl class="layui-nav-child">


                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/yaolingshou" data-id='6' data-text="出库明细"><span class="l-line"></span>出库明细</a></dd>
                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/yaolingshou" data-id='7' data-text="出库任务单"><span class="l-line"></span>出库任务单</a></dd>

                        <dd><a href="javascript:;" data-url="/Wchuo/Daily" data-id='31' data-text="日报表导出"><span class="l-line"></span>日报表导出</a></dd>
                        <dd><a href="javascript:;" data-url="/Wchuo/Index" data-id='6' data-text="出库任务"><span class="l-line"></span>出库任务</a></dd>
                        <dd><a href="javascript:;" data-url="/Wchuo/Add" data-id='7' data-text="添加出库任务"><span class="l-line"></span>添加出库任务</a></dd>


                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/yaolingshou" data-id='6' data-text="出库明细"><span class="l-line"></span>出库明细</a></dd>
                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/yaolingshou" data-id='7' data-text="出库任务单"><span class="l-line"></span>出库任务单</a></dd>

                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">调拨业务</a>
                    <dl class="layui-nav-child">


                        <dd><a href="javascript:;" data-url="/Allot/AllotShow" data-id='8' data-text="调拨单列表"><span class="l-line"></span>调拨单列表</a></dd>
                        <dd><a href="javascript:;" data-url="/Allot/AuditShow" data-id='9' data-text="调拨单审核"><span class="l-line"></span>调拨单审核</a></dd>
                        <dd><a href="javascript:;" data-url="/Allot/NotarizeShow" data-text="合格品入库确定" data-id='50'><span class="l-line"></span>合格品入库确定</a></dd>
                        <dd><a href="javascript:;" data-url="/Allot/FaPeiShow" data-text="调出发配送区" data-id='51'><span class="l-line"></span>调出发配送区</a></dd>

                        <dd><a href="javascript:;" data-url="/Shoufei/Index" data-id='8' data-text="调拨单列表"><span class="l-line"></span>调拨单列表</a></dd>
                        <dd><a href="javascript:;" data-url="/Shoufei/Index" data-id='9' data-text="调拨单审核"><span class="l-line"></span>调拨单审核</a></dd>

                    </dl>
                </li>

<<<<<<< HEAD
                <li class="layui-nav-item">
                    <a href="javascript:;">报损管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/Show" data-id='13' data-text="报损管理"><span class="l-line"></span>报损管理</a></dd>
                        <dd><a href="javascript:;" data-url="/ylyYaoPinKucun/yaoRukushow" data-id='14' data-text="报损审核"><span class="l-line"></span>报损审核</a></dd>

                    </dl>
                </li>

=======
              
>>>>>>> 1c65017f76079183a87c81b16396e3db99c41527

                <li class="layui-nav-item">
                    <a href="javascript:;">前置仓补货管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/LmcRk/Index" data-id='15' data-text="补货申请"><span class="l-line"></span>补货申请</a></dd>
                        <dd><a href="javascript:;" data-url="/LmcRK/Show" data-id='16' data-text="补货管理"><span class="l-line"></span>补货管理</a></dd>
                        <dd><a href="javascript:;" data-url="/LmcRK/ShowSF" data-id='17' data-text="捕获审核"><span class="l-line"></span>捕获审核</a></dd>
                        <dd><a href="javascript:;" data-url="/LmcRK/ShowTJ" data-id='18' data-text="补货单管理"><span class="l-line"></span>补货单管理</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">盘点管理</a>
                    <dl class="layui-nav-child">
<<<<<<< HEAD
                        <dd><a href="javascript:;" data-url="/EmployInfo/XtIndex" data-id='19' data-text="盘点任务"><span class="l-line"></span>盘点任务</a></dd>
                        <dd><a href="javascript:;" data-url="/EmployInfo/Index" data-id='20' data-text="盘点审核"><span class="l-line"></span>盘点审核</a></dd>

=======
                        <dd><a href="javascript:;" data-url="/Check/AddCheck" data-id='22' data-text="添加盘点任务"><span class="l-line"></span>添加盘点任务</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheck" data-id='21' data-text="预览盘点任务"><span class="l-line"></span>预览盘点任务</a></dd>
<<<<<<< HEAD
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckNo" data-id='61' data-text="盘点任务（未完成）"><span class="l-line"></span>盘点任务（未完成）</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckYes" data-id='62' data-text="盘点任务（已完成）"><span class="l-line"></span>盘点任务（已完成）</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShi" data-id='63' data-text="盘点任务详情"><span class="l-line"></span>预览盘点任务</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiGai" data-id='64' data-text="修改盘点数量"><span class="l-line"></span>修改盘点数量</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiShen" data-id='65' data-text="审核"><span class="l-line"></span>审核</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiJie" data-id='60' data-text="审核结果"><span class="l-line"></span>审核结果</a></dd>
=======
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckNo" data-id='22' data-text="盘点任务（未完成）"><span class="l-line"></span>盘点任务（未完成）</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckYes" data-id='22' data-text="盘点任务（已完成）"><span class="l-line"></span>盘点任务（已完成）</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShi" data-id='21' data-text="盘点任务详情"><span class="l-line"></span>预览盘点任务</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiGai" data-id='21' data-text="修改盘点数量"><span class="l-line"></span>修改盘点数量</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiShen" data-id='21' data-text="审核"><span class="l-line"></span>审核</a></dd>
                        <dd><a href="javascript:;" data-url="/Check/ShowCheckShiJie" data-id='21' data-text="审核结果"><span class="l-line"></span>审核结果</a></dd>
>>>>>>> 1c65017f76079183a87c81b16396e3db99c41527
>>>>>>> c338d3e55875cb53cae0841396d6a637f54633e5
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">仓库管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/Inventory/ShowInventory" data-id='10' data-text="总库存查询"><span class="l-line"></span>总库存查询</a></dd>
                        <dd><a href="javascript:;" data-url="/Inventory/AddInventory" data-id='21' data-text="添加仓库"><span class="l-line"></span>添加仓库</a></dd>
                        <dd><a href="javascript:;" data-url="/Inventory/ShowReservoirArea" data-id='22' data-text="库区管理"><span class="l-line"></span>库区管理</a></dd>
                        <dd><a href="javascript:;" data-url="/Inventory/ShowGoodsAllocation" data-id='22' data-text="货位管理"><span class="l-line"></span>货位管理</a></dd>
                        <dd><a href="javascript:;" data-url="/Inventory/GetWareHouseKeeper" data-id='23' data-text="库管员管理"><span class="l-line"></span>库管员管理</a></dd>
                        <dd><a href="javascript:;" data-url="/Inventory/ShowWareHouseKeeperlist" data-id='24' data-text="仓库管理权限"><span class="l-line"></span>仓库管理权限</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/EmployInfo/XtIndex" data-id='25' data-text="参数设置"><span class="l-line"></span>参数设置</a></dd>
                        <dd><a href="javascript:;" data-url="/EmployInfo/Index" data-id='26' data-text="类别排序"><span class="l-line"></span>类别排序</a></dd>

                    </dl>
                </li>
            </ul>
        </div>
        <!--右侧内容-->
        <div class="main-layout-container">
            <!--头部-->
            <div class="main-layout-header">
                <div class="menu-btn" id="hideBtn">
                    <a href="javascript:;">
                        <span class="iconfont">&#xe60e;</span>
                    </a>
                </div>
                <ul class="layui-nav" lay-filter="rightNav">
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/Login/Show?name=@ViewBag.name" data-id='30' data-text="个人信息">当前登录人:@ViewBag.name</a>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/Login/UpdatePwd?name=@ViewBag.name" data-id='31' data-text="修改密码">修改密码</a></li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="main-layout-body">
                <!--tab 切换-->
                <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this welcome">后台主页</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
                            <!--1-->
                            <iframe src="~/JYGK/Show" style="width:100%;height:100%;" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
                            <!--1end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--遮罩-->
        <div class="main-mask">

        </div>
    </div>
    <script src="../../static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/admin/js/main.js" type="text/javascript" charset="utf-8"></script>



</body>
</html>